<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register Events</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google fonts - Popppins for copy-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <!-- orion icons-->
    <link rel="stylesheet" href="/css/orionicons.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="icon" href="/img/flogo.png">

   {{!-- THIS STYLE IS ADDED FOR HEADER AND FOOTER --}}
    <style>
 :root{
  --mainClr: black;
  --subClr: #fea500;
  --subClr2: white;
  --facebook: #3b5999;
  --youtube: #FF0000;
  --instagram: #e4405f;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.semiCircle {
    position: relative;
    background: #F8F9FB;
    height: 20vh;
    margin-bottom:100px;
  }

  body{
    background-color:white;
  }
 
  .semiCircle::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 100;
    width: 123px;
    height: 123px;
    border-radius: 50%;
    background:url(/img/iste_black.png);
    background-size:cover;
    background-position:center;
background-color:#fff;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
  }




.curved {
  margin-top:60px;
  position: relative;
  background:#fea500;
  height: 30vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.designer{
 height:100%;
 margin-top:0;
}




.semiCircle a{
  color:var(--mainClr);
}
.semiCircle i{
  position:absolute;
  z-index:5;
  font-size:35px;
  margin-left:15px;
  margin-top:15px;
  background-color:transparent;
  color:var(--mainClr);
}




@media only screen and (min-height:1024px){
  .curved{
    height:10vh; 
  }

  .semiCircle{
    height:10vh;
  }
}
@media only screen and (max-width:600px)
{
  .curved{
    height:21vh;
  }
}

    </style>
  </head>
  <body >
    <header class="header">
        <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow" id="navbar"><a href="#"
                class="sidebar-toggler text-black-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a><a href="#"
                class="navbar-brand font-weight-bold text-uppercase text-base" id="navbarhd" style="color: #000;margin-right: 64px;">User Dashboard</a>
                {{!-- <div class="toggle">
                    <input type="checkbox" id="toggle" />
                    <label for="toggle"></label>
                </div> --}}
            <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
                <!-- <li class="nav-item">
            <form id="searchForm" class="ml-auto d-none d-lg-block">
              <div class="form-group position-relative mb-0">
                <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
                <input type="search" placeholder="Search ..." class="form-control form-control-sm border-0 no-shadow pl-4">
              </div>
            </form>
          </li> -->
                <li class="nav-item dropdown mr-3"><a id="notifications" href="#" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle text-gray-400 px-1"><i class="fa fa-bell"></i><span
                            class="notification-icon"></span></a>
                    <div aria-labelledby="notifications" class="dropdown-menu"><a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <!-- <div class="icon icon-sm bg-violet text-white"><i class="fab fa-twitter"></i></div> -->
                                <div class="text ml-2">
                                    <p class="mb-0">New notifications</p>
                                </div>
                            </div>
                        </a>

                        <div class="dropdown-divider"></div><a href="#" class="dropdown-item text-center"><small
                                class="font-weight-bold headings-font-family text-uppercase">View all
                                notifications</small></a>
                    </div>
                </li>
                <li class="nav-item dropdown ml-auto"><a id="userInfo" href="http://example.com" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        </a>
                    <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong
                                class="d-block text-uppercase headings-font-family">{{name}}</strong><small>{{user}}</small></a>
                        <!-- <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Settings</a><a href="#" class="dropdown-item">Activity log       </a> -->
                        <div class="dropdown-divider"></div><a href="/logout" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <div id="sidebar" class="sidebar py-3">
            <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN
            </div>
            <ul class="sidebar-menu list-unstyled">
                <li class="sidebar-list-item"><a href="/userdashboard" class="sidebar-link text-muted"><i
                            id="menuicon1" class="o-home-1 mr-3 text-black"></i><span id="span1" style="color: #000">Dashboard</span></a></li>
                <!-- <li class="sidebar-list-item"><a href="charts.html" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-black"></i><span>Charts</span></a></li> -->
                <li class="sidebar-list-item"><a href="/events"
                        class="sidebar-link text-muted"><i
                            class="fa fa-arrow-left mr-3 text-black" id="menuicon2"></i><span id="span2" style="color: #000">Back to Events</span></a></li>
                <li class="sidebar-list-item"><a href="/home" class="sidebar-link text-muted"><i
                            id="menuicon1" class="fa fa-arrow-left mr-3 text-black"></i><span id="span1" style="color: #000">Back to Main</span></a></li>
                <!-- <li class="sidebar-list-item"><a href="forms.html" class="sidebar-link text-muted active"><i class="o-survey-1 mr-3 text-gray"></i><span>Forms</span></a></li> -->
                <!-- <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Pages</span></a>
            <div id="pages" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-warning border-thick">
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Page one</a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Page two</a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Page three</a></li>
                <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Page four</a></li>
              </ul>
            </div>
          </li>
              <li class="sidebar-list-item"><a href="login.html" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>Login</span></a></li> -->
            </ul>
            <div class="text-black-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">
                EXTRAS</div>
            <ul class="sidebar-menu list-unstyled">
                <!-- <li class="sidebar-list-item"><a href="volunteers.html" class="sidebar-link text-muted"><i class="o-database-1 mr-3 text-gray"></i><span>Volunteers</span></a></li>
          <li class="sidebar-list-item"><a href="techteam.html" class="sidebar-link text-muted"><i class="o-database-1 mr-3 text-gray"></i><span>Tech Team</span></a></li> -->
                <!-- <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-imac-screen-1 mr-3 text-gray"></i><span>Demo</span></a></li>
          <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-paperwork-1 mr-3 text-gray"></i><span>Demo</span></a></li>
          <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Demo</span></a></li> -->
            </ul>
        </div>
    <div class="page-holder d-flex align-items-center">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
            <div class="pr-lg-5"><img src="/img/logo.png" alt="" class="img-fluid"></div>
          </div>
          <div class="col-lg-5 px-lg-4">
            <!-- <h1 class="text-base text-primary text-uppercase mb-4">Bubbly Dashboard</h1> -->
            <h2 class="mb-4">Register Now</h2>
            <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p> -->
            <form id="loginForm" method="POST" action="/eventsubmit"  class="mt-4">
              <div class="row">
                <!-- <div class="col-lg-6">
                    
                </div> -->

                <div class="col-lg-12">
                <!-- 
                
                  <div class="form-group mb-4">
                      <input type="text" name="username" placeholder="Name" class="form-control border-0 shadow form-control-lg">
                    </div>
                    <div class="form-group mb-4">
                      <input type="email" name="text" placeholder="Email" class="form-control border-0 shadow form-control-lg text-violet">
                    </div>

                    -->


                    <div class="form-group mb-4">
                      <input type="number" id="eventSelect" name="numevents" placeholder="No of events (Max 3)" class="form-control border-0 shadow form-control-lg text-violet" min="1" max="3"   onchange="addEvents(value)" required>
                    </div>
                    

                  <div id="eventContainer">
                  </div>
                  
                  
                          <div  class="col-lg-12 form-group" id = "specialEvent" >
                            
                            <input type="checkbox" name="needpcbkit">
                            <label for="vehicle1"> Need kit for event </label>

                          </div>
                          
                          
                          <input type="checkbox" name="isISTE" onchange="isteCheck(event.target)">
                            <label for="vehicle1"> ISTE member</label>
                          </div>

                          <div  class=" form-group mb-4" >
                            <input type="text" name="ISTEregemail"  placeholder="Registered Email"  id="isteNo" class="form-control border-0 shadow form-control-lg">
                          </div>


                          <div  class=" form-group mb-4" >
                            <input type="text" name="videolink"  placeholder="Provide your video link"  id="videolink" class="form-control border-0 shadow form-control-lg" >
                          </div>
                          <div  class=" form-group mb-4" >
                            <input type="text" name="instaid"  placeholder="Provide your Instagram id"  id="instaid" class="form-control border-0 shadow form-control-lg" >
                          </div>

                          <div  class="col-lg-12 form-group" id = "specialEvent" >

                          </div>

                  <div class="form-group mb-4">
                      {{!-- <input type="number" name="" placeholder="Phone" class="form-control border-0 shadow form-control-lg text-violet">
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" name="text" placeholder="College Name" class="form-control border-0 shadow form-control-lg">
                      </div>
                    </div>
                        <div class="col-lg-6 form-group">
                            <input type="text" name="text" placeholder="Branch" class="form-control border-0 shadow form-control-lg">
                          </div>
                          <div class="col-lg-6 form-group">
                            <input type="number" name="text" placeholder="Year(1,2,3,4)" class="form-control border-0 shadow form-control-lg">
                          </div> --}}



                    </div>
            <button type="submit" class="btn  shadow px-5" style="background:linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)">Register</button>
            </form>
            <div class="row">
              <div class="col-lg-12" style=" text-align: center; padding-top: 30px;">
                {{!-- <a href="/userdashboard"> <button type="button" class="btn btn-primary shadow px-5">Back Home</button></a> --}}
              </div>
            </div>
          </div>
        </div>
        <!-- <p class="mt-5 mb-0 text-gray-400 text-center">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a> & Your company</p> -->
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)                 -->
      </div>
    </div>
    </div>
    </div>
    <div class="outercontainer">
     <div class="curved" style = 'transform:rotateX(180deg);height:20vh; '></div>
   </div>
    <!-- JavaScript files-->
    <script>
      var allEventlist = JSON.parse(`{{{events}}}`);
      
    </script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/js/front.js"></script>
    <script src="/js/eventnewscript.js"></script>
  </body>
</html>


