<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Athena 22</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,400i,500,700|Titillium+Web:600" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.css">
	<link
	rel="stylesheet"
	href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />
	<link rel="stylesheet" href="./dist/css/variableStyle.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">Athena</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/events">Event</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="#content">About</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link active" href="/login">Login</a>
			  </li>
			
			 
			</ul>
			
		  </div>
		</div>
	  </nav>
    <div class="body-wrap boxed-container" style="background-color:black;">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
								
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
			
            <section class="hero containers"id="first-container">
                <div class="container">
                    <div class="hero-inner" >
						<div class="hero-copy" >
	                        <h1 class="hero-title mt-0 is-revealing">Athena</h1>
							<h1 class="mx-auto text-center">22</h1>

							<!-- <div class="social-media-icons">
								<a href=""><img src="./dist/img/instagram.png" class=""  alt="instagram"></a>
								<a href=""><img src="./dist/img/linkedin.png" alt=""></a>
							</div> -->
						</div>
						<div class="hero-illustration">
							<div class="hero-bg">
								<svg width="720" height="635" xmlns="http://www.w3.org/2000/svg">
								    <defs>
								        <linearGradient x1="50%" y1="0%" x2="50%" y2="97.738%" id="a">
								            <stop stop-color="#000000" offset="0%"/>
								            <stop stop-color="#111111" offset="100%"/>
								        </linearGradient>
								    </defs>
								    <path d="M0 0h720v504.382L279.437 630.304c-53.102 15.177-108.454-15.567-123.631-68.669-.072-.25-.142-.5-.211-.75L0 0z" fill="url(#a)" fill-rule="evenodd"/>
								</svg>
							</div>
							<div class="hero-square hero-square-1 is-moving-object is-rotating">
								
							</div>
						
							
							<div class="hero-square hero-square-4 is-moving-object is-rotating">
								<img src="https://iste-tkmce.github.io/TOOLS/athena_blue.png" class="img-athena-blue" alt="">
								
							</div>
						
						
						
						
						 
					
							<div class="hero-dots hero-dots-3 is-moving-object is-translating" data-translating-factor="160">
						
						
						</div>
                    </div>
                </div>
            </section>

<section class="containers p-5" id="content">

	<div class="card-deck row mx-auto">
		<div class="card col-md-5 mx-auto">
		
				<div class="card-body">
					<div class="card-title text-center text-uppercase">About ISTE</div>
				  <div class="card-text">
					ISTE Students’ Chapter assists and contributes in the production and development of top quality professional engineers and technicians needed by the industry and other organizations and also provides guidance and training to students to develop better learning skills and personality
				  </div>
				</div>
		</div>
		<div class="card col-md-5 mx-auto">
		
			<div class="card-body">
				<div class="card-title text-center text-uppercase">
					About Athena
				</div>
			  Athena 22 is the annual techno cultural fest of ISTE students chapter TKMCE is the embodiment of commemoration of anything technical and beyond. ATHENA'22 provides a manifesto of oppurtunities to showcase and enrich young talents and transforms their creativity into reality.
			</div>
	</div>
	</div>

</section>

<section class="containers p-5" id="third-container">


	<h3>events</h3>

	<div class="row p-5">

		<h2 class="text-center">coming soon</h2>
		<!-- <div class="swiper mySwiper">
			<div class="swiper-wrapper">
			  <div class="swiper-slide">Slide 1</div>
			  <div class="swiper-slide">Slide 2</div>
			  <div class="swiper-slide">Slide 3</div>
			  <div class="swiper-slide">Slide 4</div>
			  <div class="swiper-slide">Slide 5</div>
			  <div class="swiper-slide">Slide 6</div>
			  <div class="swiper-slide">Slide 7</div>
			  <div class="swiper-slide">Slide 8</div>
			  <div class="swiper-slide">Slide 9</div>
			</div>
			<div class="swiper-pagination"></div>
		  </div> -->
	</div>

</section>
        </main>

        <footer class="site-footer">
			<div class="footer-bg">
				<svg width="385" height="305" xmlns="http://www.w3.org/2000/svg">
				    <defs>
				        <linearGradient x1="50%" y1="34.994%" x2="50%" y2="97.738%" id="footer-bg">
				            <stop stop-color="#000000" offset="0%"/>
				            <stop stop-color="#111111" offset="100%"/>
				        </linearGradient>
				    </defs>
				    <path d="M384.557 116.012V305H0L210.643 0l173.914 116.012z" fill="url(#footer-bg)" fill-rule="evenodd"/>
				</svg>
			</div>
			<div class="footer-dots is-moving-object is-translating" data-translating-factor="160">
				<svg width="69" height="91" xmlns="http://www.w3.org/2000/svg">
				    <g fill="#43F1FF" fill-rule="evenodd">
				        <path d="M37.105 41.007l-2.9 1.334-.786 2.823.926 2.689 2.76 1.154 2.6-1.31 1.714-2.533-1.296-2.94z"/>
				        <path fill-opacity=".64" d="M63.109 27.24l-1.45.666-.394 1.412.464 1.344 1.38.577 1.3-.655.856-1.266-.647-1.47z"/>
				        <path fill-opacity=".24" d="M66.226 86.638l-1.45.667-.393 1.412.463 1.344 1.38.577 1.3-.655.857-1.266-.648-1.47z"/>
				        <path fill-opacity=".64" d="M13.497 43.713l-2.175 1-.59 2.118.695 2.016 2.07.866 1.95-.983 1.285-1.9-.972-2.204z"/>
				        <path fill-opacity=".8" d="M59.076 56.658l-2.175 1-.59 2.117.695 2.017 2.07.866 1.949-.983 1.286-1.9-.972-2.204z"/>
				        <path fill-opacity=".48" d="M22.262 18.49l-1.45.667-.393 1.412.463 1.344 1.38.577 1.3-.655.857-1.266-.648-1.47z"/>
				        <path fill-opacity=".64" d="M23.422.5l-1.45.667-.393 1.412.463 1.344 1.38.577 1.3-.655.857-1.266-.648-1.47z"/>
				        <path fill-opacity=".48" d="M2.637 12.5l-1.45.667-.393 1.412.463 1.344 1.38.577 1.3-.655.857-1.266-.648-1.47zM36.563 10.856l-.725.334-.197.706.232.672.69.288.65-.327.428-.633-.324-.735z"/>
				    </g>
				</svg>
			</div>
            <div class="container">
                <div class="site-footer-inner has-top-divider">
                    <div class="footer-copyright">
					Copyright &#169; 404 ISTE TKMCE &nbsp;<a href="mailto:404istetkmce.com">404istetkmce.com</a>&nbsp;<a href="tel:+919895356764" >Call us</a>
					</div>
					<ul class="footer-social-links list-reset">
						<li>
							<a href="tel:+917994954917">
							contact us
							</a>
						</li>
						<li>
							<a href="/privacy">
							privacy policy
							</a>
						</li>
						<li>
							<a href="/refund">
							refund
							</a>
						</li>
						<li>	
							<a href="/terms">
								terms and conditions
							</a>
						</li>
					</ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="dist/js/main.min.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>
</body>
</html>
