<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="google-site-verification" content="Oj4jhJuVpVjiysck6LARbJDvS4eEEzCOx0we7-nQtds" />
<meta name="Description" content="Enter your description here"/>
<meta name="google-site-verification" content="x5Gr_HhrD0hmTd2cVEyFqnHpphVG5U-FPfyBDPpdoRg" />    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="icon" href="/img/flogo.png">

<title>Athena-21</title>

<script>
    var main = () => setTimeout(() => {
        window.location.href = "/home";
    }, 10500);
    main();
</script>
</head>
<body>
    <div id="loader">
 

        <video style="
        filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%)"  autoplay muted loop id="myVideo">
          <source src="img/moonga.mp4" type="video/mp4">
          <!-- class="embed-responsive" -->
        </video>
      <img src="img/iste-logo.png" alt="istelogo" id = 'loaderimg'>
      <img src="img/flogo.png" alt="istelogo" id = 'loaderimgs'>
      
       </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
