<!DOCTYPE html><html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Athena22</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google fonts - Popppins for copy-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <!-- orion icons-->
    <link rel="stylesheet" href="/css/orionicons.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.organiser.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/organiser.custom.css">
    <!-- Favicon-->
    <link rel="icon" href="img/flogo.png">

    {{!-- THIS STYLE IS ADDED FOR HEADER AND FOOTER --}}
    <style>
 :root{
  --mainClr: black;
  --subClr: #1FA2FF;
  --subClr2: white;
  --facebook: #3b5999;
  --youtube: #FF0000;
  --instagram: #e4405f;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.semiCircle {
    position: relative;
    background: #F8F9FB;
    height: 20vh;
    margin-bottom:100px;
  }

  body{
    background-color:white;
  }
 
  .semiCircle::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 100;
    width: 123px;
    height: 123px;
    border-radius: 50%;
    background:url(/img/iste_black.png);
    background-size:cover;
    background-position:center;
background-color:#fff;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
  }




.curved {
  margin-top:60px;
  position: relative;
  background:var(--subClr);
  height: 30vh;
 
}

.designer{
 height:100%;
 margin-top:0;
}




.semiCircle a{
  color:var(--mainClr);
}
.semiCircle i{
  position:absolute;
  z-index:5;
  font-size:35px;
  margin-left:15px;
  margin-top:15px;
  background-color:transparent;
  color:var(--mainClr);
}




@media only screen and (min-height:1024px){
  .curved{
    height:10vh; 
  }

  .semiCircle{
    height:10vh;
  }
}
@media only screen and (max-width:600px)
{
  .curved{
    height:21vh;
  }
}

    </style>
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="outercontainer">

        <section class="semiCircle"><a href="/home"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
            <section class='curved designer'></section>
        </section>
    </div>
    <div class="page-holder d-flex align-items-center">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
            <div class="pr-lg-5"><img src="/img/illustration.svg" alt="" class="img-fluid"></div>
          </div>
          <div class="col-lg-5 px-lg-4">
            <h1 class="text-base text-primary text-uppercase mb-4">Login Athena'22</h1>
            <h2 class="mb-4">Welcome back !</h2>
            <p class="text-muted"></p>
            <form id="loginForm" method="POST" action="/auth/login" class="mt-4">
              <div class="form-group mb-4" >
                <input type="text" name="email" placeholder="Username or Email address" class="form-control border-0 shadow form-control-lg">
              </div>
              <div class="form-group mb-4">
                <input type="password" name="password" placeholder="Password" class="form-control border-0 shadow form-control-lg text-violet">
              </div>
              <div class="form-group mb-4">
                <div class="custom-control custom-checkbox">
                  <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                  <label for="customCheck1" class="custom-control-label">Remember Me</label>
                </div>
              </div>
              <div class="d-flex justify-content-around">
                  <button type="submit" class="btn btn-primary shadow px-5" style="background: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);color:black;">Log in</button>
              <a href="/signup" class="btn btn-primary shadow px-3" style="background: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);color:black;">Register Instead</a>
           
              </div>
             </form>
             {{#if message}}
                 <div id="error" >
                     <h6 class="alert alert-danger mt-4">{{message}}</h6>
                 </div>
             {{/if}}
          </div>
        </div>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)                 -->
      </div>
    </div>
     <div class="outercontainer">
        <div class="curved" style = 'transform:rotateX(180deg);height:20vh; '></div>
      </div>
    <!-- JavaScript files-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/js/front.js"></script>
  </body>

</html>