<!DOCTYPE html>
<html>
<head>
<title>Thank You - ISTE TKMCE</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
<script type = "text/javascript" >  
</script>
</head>
<body>
                  <div id="error" >
                     <h6 class="alert alert-danger mt-4" style="text-align: center;">{{errormessage}}</h6>
                 </div>
    <article class="bg-secondary mb-3">
    <div class="jumbotron text-center">
  <h1 class="display-6">Thank You.</h1>
  <p class="lead"><strong> Thank you for registering, <span style="color: red; font-weight:bold">Please contact the Administrator</span> with a screenshot of razorpay payment mail (check inbox) to confirm your payment.  </strong> </p>
  <hr>
  
  <p>
     </p> <a class="btn btn-warning btn-sm" href="https://api.whatsapp.com/send?phone=+918129158874&text=ASSIST%20ME?">Contact the Administrator</a>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/userdashboard" role="button">Go back to Dashboard</a>
<i class="fa fa-window-restore "></i>
  </p>
  </article>
</div>

</body>