<html lang="en">

<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="img/flogo.png">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="icon" href="https://athena22.live/img/flogo.pn">

  <link rel="stylesheet" href="css/style.css">
  <meta http-equiv="refresh" content="time; URL=https://docs.google.com/forms/d/e/1FAIpQLScjHC_7GiLAEUe0aJlYHXflD9pa7FmBB00k0OHx3NpjyqGmuA/viewform" />
  <title>Athena-22</title>
  <body>

  </body>