<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="icon" href="img/flogo.png">

  <link rel="stylesheet" href="css/style.css">

  <title>Athena-22</title>
  <style>
    df-messenger {
      --df-messenger-bot-message: black;
      --df-messenger-button-titlebar-color: orange;
      --df-messenger-chat-background-color: orange;
      --df-messenger-font-color: white;
      --df-messenger-send-icon: orange;
      --df-messenger-user-message: black;
      --df-messenger-height: 100px;

    }

    df-messenger {
      height: 100px;
      max-height: 70%;
      min-height: 30%;
      z-index: 100;
    }

    
  </style>
</head>

<body>


 <div id="loader">
 

  <video style="
  filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%)"  autoplay muted loop id="myVideo">
    <source src="img/moonga.mp4" type="video/mp4">
    <!-- class="embed-responsive" -->
  </video>
<img src="img/iste-logo.png" alt="istelogo" id = 'loaderimg'>
<img src="img/flogo.png" alt="istelogo" id = 'loaderimgs'>

 </div>


<script>
//  setTimeout(() => {


// var preloader = document.querySelector('#loader-wrapper');
// preloader.style.display = 'none';


//  }, 5000);
window.onload = () =>{
  setTimeout(() => {
  

  var preloader = document.querySelector('#loader');
  preloader.style.animation = 'showAth 2s forwards';
 
  
   }, 9500);
}



</script>
<div id="showAthena">
  
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top p-sm-0 p-2" style="background-color: transparent" id='navigation'>
    <button class="navbar-toggler d-lg-none btn" style='background-color: orange;' type="button" data-toggle="collapse"
      data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
      aria-label="Toggle navigation"><i class="fas fa-bars" style="color:#fff;"></i></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mx-sm-auto mt-2 mt-lg-0">
        <li class="nav-item ml-md-5 mr-md-5 ">
          <a class="nav-link  ml-md-0 ml-3" href="#home">HOME</a>
        </li>

        <li class="nav-item ml-md-5 mr-md-5 ">
          <a class="nav-link  ml-md-0 ml-3" href="#about">ABOUT</a>
        </li>

        <li class="nav-item ml-md-5 mr-md-5 ">
          <a class="nav-link  ml-md-0 ml-3" href="#events">EVENTS</a>
        </li>
        <li class="nav-item ml-md-5 mr-md-5 ">
          <a class="nav-link  ml-md-0 ml-3" href="https://api.whatsapp.com/send?phone=+918129158874&text=ASSIST ME?">CONTACT</a>
        </li>
        <li class="nav-item ml-md-5 mr-md-5 ">
          <a class="nav-link  ml-md-0 ml-3" href="/signup">REGISTER</a>
        </li>



      </ul>

    </div>
  </nav>

  <div class="container-fluid p-1">

    <section id="home">
      <img src="img/athena.jpeg" id='owl' loading='lazy' alt="">
      <img src="img/2.png" alt="" loading='lazy' id='owl-left'>
      <img src="img/logo.png" alt="" loading='lazy' id='logo'>
      <img src="img/2.png" alt="" loading='lazy' id='owl-right'>

      <div id="hbox1" class='mt-5 mx-auto'>

        <div class="row text-center">

          <div class="col-12 mx-auto">
            <p id='festname' class='mx-auto'><span>A</span><span>TH</span><span>EN</span><span>A</span></p>

          </div>
        </div>
        <div class="row">

          <div class="col-12 mx-auto">

            <p id='year'><span>'2</span><span>1</span></p>

          </div>
        </div>

        <div class="row">
          <div class="col-12 mx-auto">

            <div class="socialmedialinks">

              <div class="social-media-links"><a class="social-media-link social-media-link--facebook" href="https://www.facebook.com/athenaiste22"><i
                    class="fab fa-facebook-f"></i></a>

                <a class="social-media-link social-media-link--instagram" href="https://instagram.com/_athena_22__?igshid=fk1bj6ecspcr"><i class="fab fa-instagram"></i></a>

                <a class="social-media-link social-media-link--youtube" href="https://www.youtube.com/channel/UCnGnfbrVSt07-hldmmWK0DQ"><i class="fab fa-youtube"></i></a>
              </div>
            </div>

          </div>
        </div>

        <div class="row ">
          <div id="scrollDown">
            <span><a href="#events"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a></span>
          </div>
        </div>

      </div>

    </section>
    <img src="img/moon.png" loading='lazy' id='moon' alt="">
    <section id="about" class='mt-4 mb-5'>

      <section id="about-curved"></section>

      <div class="row mt-md-5 mt-1 mx-auto">
        <div class="col-12 mx-auto ">
          <h2 class = 'mx-auto  my-auto text-center'id = 'aheading'>ABOUT</h2>
        </div>
      </div>

      <div class="row mx-auto mt-md-5">
        <div class="col-12 mx-auto">


          <div class="row">
            <div class="col-lg-5 mx-auto">



                  <div class="card">
                    <div class="card-body">

                      <h4 class="card-title w-100 " style = 'display:grid;align-items:center;'>
                        <a href="">
                   <img class="img-responsive img-fluid rounded-circle " src="img/iste-logo.png" style = 'height:70px;' alt="">

                        </a>
                    <span  style = 'position:absolute; left:50%; top:40px; transform:translate(-50%); font-size:larger;'>ISTE</span></h4>
                      <hr>

                      <p class="card-text">ISTE Students’ Chapter assists and contributes in the production and development of top quality professional engineers and technicians needed by the industry and other organizations and also provides guidance and training to students to develop better learning skills and personality.</p>

                    </div>
                  </div>

            </div>

            <div class="col-lg-5  mx-auto">


              <div class="card ">
                <div class="roundedCard"><img src="img/logo.png" class = 'img-responsive img-fluid' alt=""></div>
                <div class="card-body">
                  <h4 class="card-title text-center">ATHENA</h4>
                  <hr>
                  <p class="card-text mx-auto text-center">ATH<span style = 'color:orange;'>ENA</span>'22, the annual <span style = 'color:orange;font-size:large;'>techno-cultural fest</span> of <span style = 'color:orange;'>ISTE</span> students chapter <span style = 'color:orange'>TKMCE</span> ,is the embodiment of commemoration of anything technical and beyond. ATH<span style = 'color:orange;'>ENA</span>'22 provides a manifesto of oppurtunities to showcase and enrich young talents and transforms their creativity into reality. </div>
              </div>

              <div class="card  mt-md-4">
                <div class="roundedCard" ><img src="img/owel.jpg" class = 'img-responsive img-fluid rounded-circle' alt=""></div>
                <div class="card-body">
                  <h4 class="card-title text-center">ASTRA</h4>
                  <hr>
                  <p class="card-text mx-auto text-center">After the successful technical extravaganza <span style = 'color:orange;'>ASTRA'20</span>, ISTE TKMCE is back with ATH<span style = 'color:orange;'>ENA</span>'22 to challenge minds and transcend the norm.
                    <br>
                  <q style = 'line-height: 40px;'>Explore the mystical journey with bot A<span style = 'color:orange;font-size:larger;'>STR</span>A</q> </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </section>

    <!-- the place where events exists -->
    <section id="events">

      <div class="row mx-auto mt-5">
        <div class="col-12 mx-auto text-center">
          <h2 class='mx-auto' id='eheading'>EVENTS</h2>
        </div>
      </div>

      <div class="row w-100 mx-auto text-center mt-4 mb-1">
        <div class="col-12 mx-auto text-center" id='ebuttons'>
          <button class="btn-sm" onclick="esection1()">EVENTS</button>
          <button class="btn-sm" onclick="esection2()">WORKSHOPS</button>
        </div>
      </div>


      <div id="esection1" class='p-2 p-sm-1 w-100 mt-2 eventsection'>

        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <video autoplay muted loop class="embed-responsive embed-responsive-1by1 ">
                <source src="img/athena.mp4" type="video/mp4">
              </video>
           <span>coming soon</span>





            </div>
            <div class="swiper-slide">
              <video autoplay muted loop class="embed-responsive embed-responsive-1by1 ">
                <source src="img/athena.mp4" type="video/mp4">
              </video>
           <span>coming soon</span>
            </div>
            <div class="swiper-slide">
              <video autoplay muted loop class="embed-responsive embed-responsive-1by1 ">
                <source src="img/athena.mp4" type="video/mp4">
              </video>
           <span>coming soon</span>
            </div>
          </div> <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>



      </div>


      <div id="esection2" class='p-2 p-sm-1 w-100 mt-2 eventsection'>

        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <video autoplay muted loop class="embed-responsive embed-responsive-1by1 ">
                <source src="img/athena.mp4" type="video/mp4">
              </video>
           <span>coming soon</span>
            </div>
            <div class="swiper-slide">
              <video autoplay muted loop class="embed-responsive embed-responsive-1by1 ">
                <source src="img/athena.mp4" type="video/mp4">
              </video>
           <span>coming soon</span>
            </div>
            <div class="swiper-slide lastSlide">
              <video autoplay muted loop class="embed-responsive embed-responsive-1by1 ">
                <source src="img/athena.mp4" type="video/mp4">
              </video>
           <span>coming soon</span>
            </div>
          </div> <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>



      </div>





      </div>




    </section>



  </div>

  <section class='curved p-2 p-sm-0 container-fluid' style = 'overflow-x:hidden;'>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">

          <div class="socialmedialinks">

            <div class="social-media-links"><a class="social-media-link social-media-link--facebook" href="https://www.facebook.com/athenaiste22 "><i
                  class="fab fa-facebook-f"></i></a>

              <a class="social-media-link social-media-link--instagram" href="https://instagram.com/_athena_22__?igshid=fk1bj6ecspcr"><i class="fab fa-instagram"></i></a>

              <a class="social-media-link social-media-link--youtube" href="https://www.youtube.com/channel/UCnGnfbrVSt07-hldmmWK0DQ"><i class="fab fa-youtube"></i></a>
            </div>
          </div>


        </div>
      </div>
    </div>

    <footer>
      <p>Copyright &copy; 404 ISTE.</p>
    </footer>
  </section>



  <div id="upbtn"><a href="#home"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></div>


</div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.4/swiper-bundle.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

  <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 3,
      spaceBetween: 30,
      breakpoints: {
        320: {
          slidesPerView: 1,
          spaceBetween: 10,

        },


        600: {
          slidesPerView: 2,
          spaceBetween: 40,

        },




        1184: {
          slidesPerView: 3,
          spaceBetween: 20,
        },

        1300: {
          slidesPerView: 3,
          spaceBetween: 70,
        }

      },
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });


  </script>
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  chat-icon="https:&#x2F;&#x2F;i.postimg.cc&#x2F;HLZrgfs8&#x2F;athenaorange.jpg"
  intent="WELCOME"
  chat-title="Athena"
  agent-id="83dd20d5-dad1-4acf-a99b-5ffb55dccc6c"
  language-code="en"
></df-messenger>


<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.min.js"></script>
<script src="https://threejs.org/examples/js/lights/RectAreaLightUniformsLib.js"></script>
<script src="js/index.js"></script>
<script>$(window).bind('orientationchange', function (event) {
  location.reload(true);
});</script>

</body>

</html>
