/* your styles go here */
.removestyle{
    text-decoration: none;
    color: inherit;
}

.removestyle:hover{
    text-decoration: none;
    color: inherit;

}

@media only screen and (min-width:560px) {
    .filter{
        display: inline-flex !important;
        flex-direction: row !important;
    }
    
}