*{
    /* margin:0; */
    padding:0;
    box-sizing:border-box;
    position:relative;
}

body, .btn{
    color: red;
    background:rgb(2, 3, 48);
    font-size: 1.2rem;
    font-family: 'Special Elite', cursive;
}

.container{
    margin-top: 80px;
    color: aliceblue;

}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px 50px;
    font-weight: bold;
}
.nav-link:hover{
    opacity: 0.6;
}

.heading{
    color: wheat;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
    font-size: 3em;
}